<div class="row w-100 flex-center pink">
    <div class="col bungee-font toolbar-title">
        DIGITALOPHY
    </div>

    <div class="col contents-right">
        <i class="fa fa-home toolbar-icon" (click)="navigateToHome()"></i>
        <i class="fa fa-instagram toolbar-icon" (click)="navigateInstagram()"></i>
        <i class="fa fa-envelope toolbar-icon">
            <span class="translate-middle badge rounded-pill bg-danger position-absolute animated zoomInDown">
                !
            </span>
        </i>
        <i class="fa fa-sign-out toolbar-exit-icon" (click)="logoutSubmitted()"></i>
    </div>
</div>