<div class="text-center">
    <h5 class="monoton-font soft-turquoise">D1G174L0PHY</h5>
    <img [src]="user?.img? user.img : './assets/person.png'" class="border-radius-circle" width="40rem"
        height="40rem" />
    <strong>
        <p class="whitesmoke">{{user?.email}}</p>
    </strong>
    <p class="whitesmoke">{{user?.name}}</p>

    <hr style="color: lightblue;">

    <button *ngFor="let link of links" 
        [class]="link.customClass? link.customClass : 'btn btn-outline-light mb-3 w-100'" 
        [style]="link.customStyle" 
        (click)="link.action && link.action!==''? link.action() : navigateTo(link.route)">
        <i [class]="link.icon"></i> {{ link.caption }}    
    </button>
</div>